.hero {
  background-image: linear-gradient(rgba(8, 29, 31, 0.7), rgba(8, 29, 31, 0.7)),
    url("../src/images/alyasir-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 250px;
}

.hero__container {
  display: flex;
  justify-content: center;
}

.hero__title {
  width: 100%;
  // max-width: 1000px;
  font-size: 4.8rem;
  font-weight: 300;
  text-align: center;
  color: $color-white;
  line-height: 70px;
  margin-top: 30rem;
}

@media screen and (max-width: 1050px) {
  .hero {
    background-position: center left -779px;
    background-size: 300%;
  }
  .hero__title {
    width: 100%;
    max-width: 550px;
    font-size: 3.8rem;
    line-height: 55px;
  }
  .br {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    background-position: center left -535px;
    background-size: 350%;
  }
  .hero__title {
    font-size: 2.8rem;
    line-height: 40px;
  }
}

.active {
  color: $color-yellow;
}

.faq__hero {
  padding-bottom: 10rem;
}

.faq__hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq__hero__title {
  font-size: 9.6rem;
  font-weight: 400;
  margin-top: 5.2rem;
  margin-bottom: 2px;
}
.faq__hero__subtitle {
  font-weight: 300;
  font-size: 3.6rem;
  color: #393939;
}
.faq__hero__box {
  width: 100%;
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq__none {
  display: none;
}

.u_class {
  border: 2px solid #dcdcdc;
  padding-top: 1.8rem;
  padding-bottom: 1.7rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  border-radius: 5px;

  p {
    font-size: 2.4rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 1150px) {
  .faq__hero__title {
    font-size: 8.6rem;
  }
}
@media screen and (max-width: 500px) {
  .faq__hero__title {
    font-size: 4.6rem;
    margin-bottom: 1rem;
  }

  .faq__hero__subtitle {
    font-size: 2.6rem;
    text-align: center;
  }

  .faq__hero__box {
    p {
      font-size: 1.7rem;
    }
  }
}

.grants {
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 44rem;
  background-image: linear-gradient(rgba(8, 29, 31, 0.5), rgba(8, 29, 31, 0.5)),
    url("../src/images/grants-image.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grants__title {
  font-weight: 600;
  font-size: 9.6rem;
  color: $color-white;
  margin-bottom: 5px;
}
.grants__subtitle {
  font-weight: 300;
  font-size: 2.8rem;
  color: $color-white;
}
.grants__box {
  margin-top: 7.4rem;
  display: flex;
  gap: 10.7rem;
}
.grants__card {
  width: 100%;
  max-width: 383px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.8rem 8.1rem 1.9rem;
  border-radius: 8px;
  border: 1px solid transparent;
}
.grants__cards__title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 1%;
  color: #292929;
}
.grants__card__subtitle {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  color: #636363;
}

@media screen and (max-width: 1150px) {
  .grants__title {
    font-size: 8rem;
  }
}
@media screen and (max-width: 500px) {
  .grants {
    margin-bottom: 50rem;
    background-image: none;
  }
  .grants__title {
    font-size: 4rem;
    color: #292929;
    margin-bottom: 2rem;
  }
  .grants__subtitle {
    color: #292929;
    text-align: center;
    font-size: 2rem;
  }
  .grants__box {
    flex-direction: column;
    gap: 5rem;
  }

  .grants__card {
    border-color: black;
  }
}

.gransts__bold {
  font-weight: bold;
}
