.footer {
  background-color: $color-blue;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 5.1rem;
}

.footer__box {
  display: flex;
  gap: 5.5rem;
}
.footer__logo__img {
}
.footer__box__container {
  display: flex;
  justify-content: space-between;
  gap: 5.3rem;
}
.container__list {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
.item {
}
.item__title {
  margin-bottom: 2.1rem;
  font-size: 1.8rem;
  color: $color-white;
  font-family: "Grava", Arial, Helvetica, sans-serif;
}
.item__link {
  color: #ffffff;
  font-size: 1.6rem;
}
.box__list {
}
.box__list__item {
}
.box__list__item__link {
  color: #ffffff;
  font-size: 1.6rem;
}
.social__list {
  ul {
    display: flex;
    gap: 2.3rem;
  }
}
.social__item {
}
.social__link {
}
.social__img {
}
.divider {
  width: 100%;
  height: 1px;
  max-width: 1430px;
  background-color: #ffffff;
  margin-top: 5.5rem;
  margin-bottom: 3rem;
}

.Alyasi-huquq {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 1.6rem;
}

@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 500px) {
  .footer__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__box__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
