.header {
  background-color: $color-blue;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 3rem;
}

.list__link {
  font-size: 2rem;
  font-weight: 400;
  color: $color-white;
}

.list__link:hover {
  color: $color-yellow;
}

.header__btn {
  cursor: pointer;
}

.none {
  display: none;
}

.header__btn__link {
  font-weight: 400;
  font-size: 1.5rem;
  color: $color-gree;
}

.btn__hover {
  display: none;
}
.header_menu {
  display: none;
}

.nav__list__2 {
  display: none;
}

@media screen and (max-width: 1150px) {
  .nav {
    position: relative;
  }

  .header_menu {
    display: flex;
    background-color: transparent;
    border: none;
  }

  .nav__list {
    // width: 30%;
    // height: 100%;
    // position: absolute;
    // padding-top: 100px;
    // padding-bottom: 100px;
    // padding-left: 30px;
    // padding-right: 30px;
    // top: 0;
    // left: 0;
    // flex-direction: column;
    // background-color: $color-blue;
    display: none;
  }
  .nav__list__2 {
    width: 30%;
    height: 100%;
    position: absolute;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $color-blue;
  }

  .list__item {
  }

  .none {
    display: none;
  }

  .block {
    display: none;
  }
  .btn__hover {
    width: 100%;
    display: block;
  }
  .header__btn__link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 735px) {
  .nav__list__2 {
    width: 50%;
  }
  .list__link {
    font-size: 1rem;
  }
}
