@font-face {
  font-display: swap;
  font-family: "Grava";
  font-style: normal;
  font-weight: 300;
  src: url("../src/fonts/Grava Display Light.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Grava";
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/Grava Display Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Grava";
  font-style: normal;
  font-weight: 600;
  src: url("../src/fonts/Grava Display Semi Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Grava";
  font-style: normal;
  font-weight: 700;
  src: url("../src/fonts/Grava Display Bold.woff2") format("woff2");
}
